server:
  port: 8888

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: employee-service
          uri: http://localhost:8081
          predicates:
            - Path=/employee/**
        - id: department-service
          uri: http://localhost:8080
          predicates:
            - Path=/department/**
